<!-- HEADER FROM EJS -->
<%- include(`header`) -%>

<body>
  <h1>About</h1>

  <h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime asperiores
    quidem perferendis placeat inventore, distinctio hic nesciunt maiores
    reiciendis laboriosam voluptatibus illum in sunt incidunt iste earum dolore!
    Tempore, possimus?
  </h3>
</body>
<!-- FOOTER FROM EJS -->

<%- include(`footer`) -%>
